@import '/src/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.categoryContainer {
  width: 100vw;
  @include flex(center, center);
  flex-direction: column;
  background-color: #14a7ff;
  .categorySlideContainer {
    overflow: hidden;
    .categorySlide {
      @include flex(center, center);
      width: 900px;
    }
  }
  .slideButtonContainer {
    @include flex(center, center);
    button {
      margin: 0 30px;
      width: 32px;
      height: 32px;
      font-size: 20px;
      background-color: #14a7ff;
      outline: none;
      color: white;
      padding: 0;
      border: none;
      background: none;
    }
    .slideStateContainer {
      @include flex(center, center);
    }
  }
}
