@import '../../../styles/variables.scss';

.release {
  width: 100vw;
  @include flex(center, center);
  flex-direction: column;

  .header {
    @include flex(space-around, center);
    width: 100%;
    margin: 3rem;
    font-size: 3rem;
    font-weight: bold;

    .linkButton {
      padding: 1rem 1.5rem;
      border-style: none;
      border-radius: 2rem;
      color: white;
      background-color: #5f0081;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .carouselContainer {
    @include flex(space-around, null);
    width: 100%;
  }
}
