@import '../../../../../styles/variables.scss';

.DropdownContent {
  width: 40vw;
  height: 60vh;
  padding: 70px 10px 0 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.title {
  font-weight: bold;
  font-size: 30px;
}
