@import '../../../styles/variables.scss';

.size {
  margin: 10px;
  padding: 10px;
  border-style: none;
  border-radius: 45%;
  width: 6rem;
  height: 3rem;
  border: 1px solid black;
  cursor: pointer;
  background: none;
}

.clickedSize {
  margin: 10px;
  padding: 10px;
  border-style: none;
  border-radius: 45%;
  width: 6rem;
  height: 3rem;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  color: white;
}
