.slideState {
  margin: 5px;
  width: 8px;
  height: 8px;
  background-color: #ffffff33;
  border-radius: 4px;
  transition: all 0.3s;
}

.positionNow {
  width: 35px;
}

/* function color */
.whiteP {
  background-color: white;
}

.blackP {
  background-color: black;
}
