@import '../../../../styles/variables.scss';

.bestSellerCard {
  @include flex(center, center);
  flex-direction: column;

  .shortCardsBox {
    img {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
    }

    .shortCard {
      width: 20rem;
      height: 19rem;
      margin: 1rem 3rem;
      border-radius: 2rem;
    }
  }

  .longCardBox {
    img {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
    }
    .longCard {
      width: 20rem;
      height: 40rem;
      background-color: white;
      border-radius: 2rem;
    }
  }
}
