@import '../../styles/variables.scss';

.slideStateContainer {
  @include flex(center, center);

  .slideState {
    margin: 5px;
    width: 8px;
    height: 8px;
    opacity: 0.2;
    border-radius: 4px;
    transition: all 0.3s;
  }

  .positionNow {
    width: 35px;
    opacity: 1;
  }

  .white {
    background-color: white;
  }

  .black {
    background-color: black;
  }
}
