@import '/src/styles/variables.scss';

.signUp {
  .emailForm {
    .formLabel {
      position: relative;
      .labelFont {
        font-size: 14px;
        margin-left: 20px;
        padding: 0 5px;
        height: 18px;
        color: gray;
        letter-spacing: 0.03em;
        position: absolute;
        top: -20px;
        background-color: #ffc3d4;
      }

      .inputEmail {
        border: 1px solid #646464;
        border-radius: 9px;
        width: 100%;
        height: 48px;
        background-color: #ffc3d4;
        outline-style: none;
        text-indent: 10px;
      }
    }

    .errorMessage {
      margin-top: 5px;
      height: 17px;
      font-size: 80%;
      color: #c00;
      letter-spacing: 0.03em;
      padding-bottom: 45px;
    }
  }

  .nameFormWrap {
    @include flex(space-between, center);
    width: 100%;
    background-color: #ffc3d4;

    .nameForm {
      .formLabel {
        position: relative;
        .labelFont {
          font-size: 14px;
          margin-left: 20px;
          padding: 0 5px;
          height: 18px;
          color: gray;
          letter-spacing: 0.03em;
          position: absolute;
          top: -20px;
          background-color: #ffc3d4;
        }

        .inputName {
          margin-bottom: 5px;
          border: 1px solid #646464;
          border-radius: 9px;
          width: 200px;
          height: 48px;
          background-color: #ffc3d4;
          outline-style: none;
          text-indent: 10px;
        }
      }

      .errorMessage {
        height: 17px;
        font-size: 80%;
        color: #c00;
        letter-spacing: 0.03em;
        padding-bottom: 45px;
      }
    }
  }

  .nicknameForm {
    .formLabel {
      position: relative;
      .labelFont {
        font-size: 14px;
        margin-left: 20px;
        padding: 0 5px;
        height: 18px;
        color: gray;
        letter-spacing: 0.03em;
        position: absolute;
        top: -20px;
        background-color: #ffc3d4;
      }

      .inputNickname {
        margin-bottom: 5px;
        border: 1px solid #646464;
        border-radius: 9px;
        width: 100%;
        height: 48px;
        background-color: #ffc3d4;
        outline-style: none;
        text-indent: 10px;
      }
    }

    .errorMessage {
      height: 17px;
      font-size: 80%;
      color: #c00;
      letter-spacing: 0.03em;
      padding-bottom: 45px;
    }
  }

  .addressForm {
    .formLabel {
      position: relative;
      .labelFont {
        font-size: 14px;
        margin-left: 20px;
        padding: 0 5px;
        height: 18px;
        color: gray;
        letter-spacing: 0.03em;
        position: absolute;
        top: -20px;
        background-color: #ffc3d4;
      }

      .inputAddress {
        margin-bottom: 5px;
        border: 1px solid #646464;
        border-radius: 9px;
        width: 100%;
        height: 48px;
        background-color: #ffc3d4;
        outline-style: none;
        text-indent: 10px;
      }
    }

    .errorMessage {
      height: 17px;
      font-size: 80%;
      color: #c00;
      letter-spacing: 0.03em;
      padding-bottom: 45px;
    }
  }

  .passwordForm {
    .formLabel {
      position: relative;
      .labelFont {
        font-size: 14px;
        margin-left: 20px;
        padding: 0 5px;
        height: 18px;
        color: gray;
        letter-spacing: 0.03em;
        position: absolute;
        top: -20px;
        background-color: #ffc3d4;
      }

      .inputPassword {
        margin-bottom: 25px;
        border: 1px solid #646464;
        border-radius: 9px;
        width: 100%;
        height: 48px;
        background-color: #ffc3d4;
        outline-style: none;
        text-indent: 10px;
      }
    }

    .errorMessage {
      margin-top: -20px;
      height: 17px;
      font-size: 80%;
      color: #c00;
      letter-spacing: 0.03em;
      padding-bottom: 45px;
    }
  }

  .signupBtn {
    width: 100%;
    background-color: #007300;
    border: 1px solid #007300;
    color: white;
    padding: 0 23px;
    border-radius: 48px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 43px;
    margin-top: 15px;
  }
}
