input {
  margin-bottom: 32px;
  border: 1px solid #646464;
  border-radius: 9px;
  width: 100%;
  height: 48px;
  background-color: #fee3cb;
  outline-style: none;
}

.passsword-form {
  margin-bottom: 15px;
}

.form-label {
  font-size: 14px;
  color: gray;
  margin: 0 0 0 18px;
}

.signup-btn {
  cursor: pointer;
  width: 100%;
  background-color: #007300;
  border: 1px solid;
  color: white;
  padding: 0 23px;
  border-radius: 48px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 43px;
}
