@import '../../styles/variables.scss';

.productsList {
  width: 100vw;
  margin: 0 auto;
  background-color: #ffc3d4;

  .productsListContainer {
    margin: 0rem 3rem;
    padding: 5rem 0rem;
    .listNav {
      @include flex(space-between, center);

      .breadCrumps {
        width: 80%;
      }

      .orderContainer {
        width: 20%;
        text-align: end;
      }
    }

    .productsContainer {
      @include flex(center, flex-start);
      .filterAside {
        height: 50rem;
        color: #b60060;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.5s;

        .filterMenu {
          transition: all 0.5s;
          overflow: hidden;

          .filter {
            height: 0px;
            font-size: 1rem;
            font-weight: 400;
            transition: all 0.5s;
            position: relative;
            min-width: 130px;
          }

          .active {
            height: 20px;
            transition: all 0.5s;
          }
        }
      }

      .listContainer {
        @include flex(space-around, space-around);
        flex-wrap: wrap;
        width: 880px;
        min-width: 880px;
        position: relative;
      }
    }
  }
}
