@import '../../styles/variables.scss';

.productsList {
  @include flex(null, center);
  flex-direction: column;
  margin: 5rem 0 auto;
  background-color: #ffc3d4;

  .bold {
    font-weight: 600;
  }

  .productsListContainer {
    width: 880px;
    min-width: 880px;
    margin: 0rem auto;
    padding: 5rem 0rem;

    .listNav {
      @include flex(space-between, center);
      width: 880px;
      min-width: 880px;
      margin-bottom: 2rem;

      .breadCrumps {
        width: 80%;
      }

      .orderContainer {
        text-align: end;

        .orderBtn {
          margin-left: 1rem;
          padding: 0.2rem 1rem;
          border: 1px solid black;
          border-radius: 1rem;
          cursor: pointer;
        }
      }

      .orderSelector {
        width: 230px;
        margin-top: 1rem;
        position: absolute;
        background-color: white;
        transform: translateX(-20px);
        z-index: 50;
        border-radius: 1rem;

        .selectorHeader {
          @include flex(space-between, center);
          margin: 1rem 1rem;
          padding: 1rem 0 2rem 0;
          border-bottom: 1px solid #99999999;
          font-weight: 500;

          .cancelButton {
            padding: 0.5rem;
            cursor: pointer;
          }

          .orderTitle {
            @include flex(center, center);

            img {
              display: block;
              width: 0.8rem;
              height: 0.8rem;
              margin-right: 0.5rem;
            }
          }
        }

        .radioSelector {
          @include flex(flex-start, flex-start);
          flex-direction: column;
          margin: 1rem;
          font-weight: 500;

          li {
            padding: 0.5rem;
          }

          input {
            accent-color: #b60060;
          }
        }
      }
    }

    .productsContainer {
      @include flex(center, flex-start);
      min-height: 300px;

      .filterAside {
        height: 50rem;
        color: #b60060;
        transition: all 0.5s;
        font-size: 1.1rem;
        font-weight: 500;
      }

      .listContainer {
        @include flex(space-around, space-around);
        flex-wrap: wrap;
        width: 880px;
        min-width: 880px;
        position: relative;
      }
    }
  }

  .productNavigation {
    @include flex(flex-start, center);

    .link {
      margin: 0 10px;
      color: black;
      text-decoration: none;
    }
  }
}
