@import '../../styles/variables.scss';

.productsList {
  width: 100vw;
  max-width: 1140px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fee3cb;

  .productsListContainer {
    margin: 0rem 3rem;
    padding: 5rem 0rem;
    .listNav {
      @include flex(space-between, center);

      .breadCrumps {
        width: 80%;
      }

      .orderContainer {
        width: 20%;
        text-align: end;
      }
    }

    .productsContainer {
      display: grid;
      grid-template-columns: 10rem auto;

      .filterAside {
        background: peru;
        height: 50rem;
        color: #b60060;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.5s;

        .filterMenu {
          transition: all 0.5s;
          overflow: hidden;

          .filter {
            height: 0px;
            font-size: 1rem;
            font-weight: 400;
            transition: all 0.5s;
            position: relative;
          }

          .active {
            height: 20px;
            transition: all 0.5s;
          }
        }
      }

      .listContainer {
        @include flex(space-around, space-around);
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        // height: 50rem;
      }
    }
  }
}
