@import '../../../styles/variables.scss';

.Dropdown {
  top: 100%;
  left: 0;
  position: absolute;
  width: 100vw;
  @include flex(center, center);
  background-color: #fefce3;
  border-radius: 0 0 60px 60px;
  color: black;

  .dropdownMenu {
    @include flex(center, center);
    flex-direction: row;
  }

  .dropdownCategory {
    width: 20vw;
    height: 70vh;
    padding: 70px 10px 0;
    font-size: 20px;
    font-family: sans-serif;

    .arrow {
      @include flex(space-between, center);
      margin: 10px;
      cursor: pointer;
      height: 3rem;
    }

    .arrow:hover {
      color: tomato;
    }
  }

  li {
    margin: 30px;
  }
}
