@import '../../../styles/variables.scss';

.selectedColour {
  @include flex(space-evenly, center);
  flex-direction: column;
  border-style: none;
  border-right: 1px solid rgb(0 0 0 / 10%);
  background: none;
  cursor: pointer;
  height: 5rem;
  width: 3.4rem;

  .circle {
    width: 35px;
    height: 35px;
    background: #51f568;
    border-radius: 100%;
    border: 5px solid black;
    margin: 0 0 0.2rem 0;
  }
}

.nonSelectedColour {
  @include flex(space-evenly, center);
  flex-direction: column;
  border-style: none;

  background: none;
  cursor: pointer;
  height: 5rem;
  width: 3.4rem;
}

.nonSelected {
  width: 30px;
  height: 30px;
  background: #51f568;
  border-radius: 100%;
  border: none;
  margin: 0 0 0.2rem 0;
}
