@import '../../styles/variables.scss';
.loginField {
  display: flex;
  justify-content: center;
  background-color: #ffc3d4;
  height: 1000px;

  .loginBox {
    width: 447px;
    height: 600px;
    margin-top: 300px;

    .loginNav {
      display: flex;
      list-style: none;
      height: 60px;
      position: relative;

      .loginText {
        font-size: 20px;
        font-weight: 500;
        margin: 0 8px;
        color: #646464;
        letter-spacing: 0.03em;
        height: 60px;
        top: 5px;
        padding-bottom: 0.5rem;

        &:hover {
          color: #b60060;
          cursor: pointer;
        }
      }

      .clickedLoginText {
        font-size: 22px;
        font-weight: 500;
        margin: 0 8px;
        color: #b60060;
        letter-spacing: 0.03em;
        height: 60px;
        top: 5px;
        border-bottom: 4px solid #b60060;
        padding-bottom: 0.5rem;

        &:hover {
          color: #b60060;
          cursor: pointer;
        }
      }
    }
  }
}
