.filterMenu {
  .activeIcon {
    animation-name: rotate;
    animation: rotate 1s ease-in 1 1s;
    animation-iteration-count: 1;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
