.login-field {
  display: flex;
  justify-content: center;
  background-color: #fee3cb;
  margin-top: 100px;
  height: 900px;

  .login-box {
    width: 447px;
    height: 600px;
    margin-top: 190px;
  }
}

.login-box {
  width: 447px;
  height: 600px;
  margin-top: 190px;
}

.login-nav {
  display: flex;
  list-style: none;
  height: 50px;
}

.nav-item {
  font-size: 20px;
  font-weight: 700;
  margin: 0 8px;
  color: #646464;
  letter-spacing: 0.03em;
}

.nav-item:hover {
  color: #b60060;
  cursor: pointer;
  padding-bottom: 20px;
  font-weight: 900;
}

font {
  font-size: 20px;
  font-weight: 500;
}
