@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin colors() {
  .blue {
    background-color: $themeColorBlue;
  }

  .red {
    background-color: $themeColorRed;
  }

  .yellow {
    background-color: $themeColorYellow;
  }

  .green {
    background-color: $themeColorGreen;
  }

  .pink {
    background-color: $themeColorPink;
  }
}

/* main */
$themeColorBlue: #14a7ff;
$themeColorYellow: #ffee4d;
$themeColorGreen: #00c9a2;
$themeColorSkyBlue: #2cdcdf;
$themeColorRed: #f24936;
$themeColorPink: #ffc3d4;
