@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

/* main */
$themeColorBlue: #14a7ff;
$themeColorYellow: #ffee4d;
$themeColorGreen: #00c9a2;
$themeColorSkyBlue: #2cdcdf;
$themeColorRed: #f24936;
