@import '/src/styles/variables.scss';

.recommendProduct {
  @include flex(space-between, flex-start);
  flex-direction: column;
  width: 180px;
  height: 260px;
  margin: 20px;
  .recommendProductImage {
    img {
      width: 180px;
      height: 180px;
    }
  }
  .recommendProductInfo {
    .recommendProductName {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;
    }
    .recommendProductPrice {
      margin-top: 10px;
      font-size: 16px;
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
    }
  }
}
