@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.product {
  font-family: 'Roboto', sans-serif;

  @include flex(null, center);
  flex-direction: column;
  width: 12rem;
  margin: 0rem 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  line-height: 1.25rem;

  .colorPickers {
    transition: all 0.2s ease-out;

    button {
      display: none;
      cursor: pointer;
    }
  }

  .sizePickers {
    transition: all 0.2s ease-out;

    button {
      display: none;
      cursor: pointer;
    }
  }

  .cartBtn {
    display: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }

  &:hover {
    background-color: white;
    border-radius: 1rem;
    transition: all 0.2s ease-out;
    z-index: 25;

    button {
      display: inline;
      height: 1.5rem;
      margin: 0 0.2rem;
      border: 1px solid black;
      border-radius: 1rem;
      background-color: white;
    }

    .colorPickers {
      @include flex(flex-start, center);
      width: 100%;
      margin-top: 1rem;

      button {
        width: 1.5rem;
      }

      .active {
        border: 2px solid black;
        transition: all 0.2s;
        transform: scale(1.25);
      }
    }

    .sizePickers {
      @include flex(flex-start, center);
      width: 100%;
      margin-top: 1rem;

      .active {
        border: 2px solid black;
        transition: all 0.2s;
        transform: scale(1.25);
      }
    }

    .cartBtn {
      width: 100%;
      margin-top: 1.5rem;
      padding: 0rem 1rem;
      border: none;
      border-radius: 2rem;
      background-color: grey;
      color: white;
    }

    .enabledBtn {
      background-color: blue;
      transform: scale(1.1);
    }
  }

  .tagContainer {
    width: 100%;
    display: flex;
  }

  .young {
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: blue;
    color: white;
    font-weight: 500;
  }

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
  }

  .description {
    width: 100%;
    margin: 0.5rem 0;
    text-align: left;
    font-weight: 500;
  }

  .price {
    width: 100%;
    font-weight: bolder;
  }
}

.main {
  .product {
    &_col0_row0 {
      position: relative;
      top: 0;
    }

    &_col1_row0 {
      position: relative;
      top: 0;
    }

    &_col2_row0 {
      position: relative;
      top: 0;
    }

    &_col0_row1 {
      position: relative;
      top: 0;
    }
  }
}

.productsList {
  .product {
    &_col0_row0 {
      position: absolute;
      top: 0;
      left: 2rem;
    }

    &_col1_row0 {
      position: absolute;
      top: 0;
      left: 16rem;
    }

    &_col2_row0 {
      position: absolute;
      top: 0;
      left: 30rem;
    }

    &_col0_row1 {
      position: absolute;
      top: 20rem;
      left: 2rem;
    }

    &_col1_row1 {
      position: absolute;
      top: 20rem;
      left: 16rem;
    }

    &_col2_row1 {
      position: absolute;
      top: 20rem;
      left: 30rem;
    }

    &_col0_row2 {
      position: absolute;
      top: 40rem;
      left: 2rem;
    }

    &_col1_row2 {
      position: absolute;
      top: 40rem;
      left: 16rem;
    }

    &_col2_row2 {
      position: absolute;
      top: 40rem;
      left: 30rem;
    }

    &_col0_row3 {
      position: absolute;
      top: 60rem;
      left: 2rem;
    }

    &_col1_row3 {
      position: absolute;
      top: 60rem;
      left: 16rem;
    }

    &_col2_row3 {
      position: absolute;
      top: 60rem;
      left: 30rem;
    }

    &_col0_row4 {
      position: absolute;
      top: 80rem;
      left: 2rem;
    }

    &_col1_row4 {
      position: absolute;
      top: 80rem;
      left: 16rem;
    }

    &_col2_row4 {
      position: absolute;
      top: 80rem;
      left: 30rem;
    }

    &_col0_row5 {
      position: absolute;
      top: 100rem;
      left: 2rem;
    }

    &_col1_row5 {
      position: absolute;
      top: 100rem;
      left: 16rem;
    }

    &_col2_row5 {
      position: absolute;
      top: 100rem;
      left: 30rem;
    }

    &_col0_row6 {
      position: absolute;
      top: 120rem;
      left: 2rem;
    }

    &_col1_row6 {
      position: absolute;
      top: 120rem;
      left: 16rem;
    }

    &_col2_row6 {
      position: absolute;
      top: 120rem;
      left: 30rem;
    }

    &_col0_row7 {
      position: absolute;
      top: 140rem;
      left: 2rem;
    }

    &_col1_row7 {
      position: absolute;
      top: 140rem;
      left: 16rem;
    }

    &_col2_row7 {
      position: absolute;
      top: 140rem;
      left: 30rem;
    }

    &_col0_row8 {
      position: absolute;
      top: 160rem;
      left: 2rem;
    }

    &_col1_row8 {
      position: absolute;
      top: 160rem;
      left: 16rem;
    }

    &_col2_row8 {
      position: absolute;
      top: 160rem;
      left: 30rem;
    }

    &_col0_row9 {
      position: absolute;
      top: 180rem;
      left: 2rem;
    }

    &_col1_row9 {
      position: absolute;
      top: 180rem;
      left: 16rem;
    }

    &_col2_row9 {
      position: absolute;
      top: 180rem;
      left: 30rem;
    }

    &_col0_row10 {
      position: absolute;
      top: 200rem;
      left: 2rem;
    }

    &_col1_row10 {
      position: absolute;
      top: 200rem;
      left: 16rem;
    }

    &_col2_row10 {
      position: absolute;
      top: 200rem;
      left: 30rem;
    }

    &_col0_row11 {
      position: absolute;
      top: 220rem;
      left: 2rem;
    }

    &_col1_row11 {
      position: absolute;
      top: 220rem;
      left: 16rem;
    }

    &_col2_row11 {
      position: absolute;
      top: 220rem;
      left: 30rem;
    }

    &_col0_row12 {
      position: absolute;
      top: 240rem;
      left: 2rem;
    }

    &_col1_row12 {
      position: absolute;
      top: 240rem;
      left: 16rem;
    }

    &_col2_row12 {
      position: absolute;
      top: 240rem;
      left: 30rem;
    }

    &_col0_row13 {
      position: absolute;
      top: 260rem;
      left: 2rem;
    }

    &_col1_row13 {
      position: absolute;
      top: 260rem;
      left: 16rem;
    }

    &_col2_row13 {
      position: absolute;
      top: 260rem;
      left: 30rem;
    }

    &_col0_row14 {
      position: absolute;
      top: 280rem;
      left: 2rem;
    }

    &_col1_row14 {
      position: absolute;
      top: 280rem;
      left: 16rem;
    }

    &_col2_row14 {
      position: absolute;
      top: 280rem;
      left: 30rem;
    }

    &_col0_row15 {
      position: absolute;
      top: 300rem;
      left: 2rem;
    }

    &_col1_row15 {
      position: absolute;
      top: 300rem;
      left: 16rem;
    }

    &_col2_row15 {
      position: absolute;
      top: 300rem;
      left: 30rem;
    }

    &_col0_row16 {
      position: absolute;
      top: 320rem;
      left: 2rem;
    }

    &_col1_row16 {
      position: absolute;
      top: 320rem;
      left: 16rem;
    }

    &_col2_row16 {
      position: absolute;
      top: 320rem;
      left: 30rem;
    }

    &_col0_row17 {
      position: absolute;
      top: 340rem;
      left: 2rem;
    }

    &_col1_row17 {
      position: absolute;
      top: 340rem;
      left: 16rem;
    }

    &_col2_row17 {
      position: absolute;
      top: 340rem;
      left: 30rem;
    }

    &_col0_row18 {
      position: absolute;
      top: 360rem;
      left: 2rem;
    }

    &_col1_row18 {
      position: absolute;
      top: 360rem;
      left: 16rem;
    }

    &_col2_row18 {
      position: absolute;
      top: 360rem;
      left: 30rem;
    }

    &_col0_row19 {
      position: absolute;
      top: 380rem;
      left: 2rem;
    }

    &_col1_row19 {
      position: absolute;
      top: 380rem;
      left: 16rem;
    }

    &_col2_row19 {
      position: absolute;
      top: 380rem;
      left: 30rem;
    }

    &_col0_row20 {
      position: absolute;
      top: 400rem;
      left: 2rem;
    }

    &_col1_row20 {
      position: absolute;
      top: 400rem;
      left: 16rem;
    }

    &_col2_row20 {
      position: absolute;
      top: 400rem;
      left: 30rem;
    }

    &_col0_row21 {
      position: absolute;
      top: 420rem;
      left: 2rem;
    }

    &_col1_row21 {
      position: absolute;
      top: 420rem;
      left: 16rem;
    }

    &_col2_row21 {
      position: absolute;
      top: 420rem;
      left: 30rem;
    }

    &_col0_row22 {
      position: absolute;
      top: 440rem;
      left: 2rem;
    }

    &_col1_row22 {
      position: absolute;
      top: 440rem;
      left: 16rem;
    }

    &_col2_row22 {
      position: absolute;
      top: 440rem;
      left: 30rem;
    }

    &_col0_row23 {
      position: absolute;
      top: 460rem;
      left: 2rem;
    }

    &_col1_row23 {
      position: absolute;
      top: 460rem;
      left: 16rem;
    }

    &_col2_row23 {
      position: absolute;
      top: 460rem;
      left: 30rem;
    }

    &_col0_row24 {
      position: absolute;
      top: 480rem;
      left: 2rem;
    }

    &_col1_row24 {
      position: absolute;
      top: 480rem;
      left: 16rem;
    }

    &_col2_row24 {
      position: absolute;
      top: 480rem;
      left: 30rem;
    }

    &_col0_row25 {
      position: absolute;
      top: 500rem;
      left: 2rem;
    }

    &_col1_row25 {
      position: absolute;
      top: 500rem;
      left: 16rem;
    }

    &_col2_row25 {
      position: absolute;
      top: 500rem;
      left: 30rem;
    }
  }
}
