@import '../../styles/variables.scss';

.product {
  @include flex(null, center);
  flex-direction: column;
  width: 12rem;
  padding: 1rem;
  line-height: 1.25rem;
  transition: all 0.2s ease-in;
  border-radius: 1rem;

  .colorPickers {
    button {
      display: none;
    }
    transition: all 0.2s ease-out;
  }

  .sizePickers {
    button {
      display: none;
    }
    transition: all 0.2s ease-out;
  }

  .cartBtn {
    display: none;
    transition: all 0.2s ease-out;
  }

  &:hover {
    background-color: white;
    border-radius: 1rem;
    transition: all 0.2s ease-out;

    .colorPickers {
      margin-top: 1rem;

      button {
        display: inline;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.2rem;
        border: 1px solid black;
        border-radius: 1rem;
      }
    }

    .sizePickers {
      margin-top: 1rem;

      button {
        display: inline;
        height: 2rem;
        margin: 0 0.2rem;
        border: 1px solid black;
        border-radius: 1rem;
      }
    }

    .cartBtn {
      display: block;
      margin-top: 1.5rem;
      padding: 0.5rem 2rem;
      background-color: grey;
      border: none;
      border-radius: 2rem;
      color: white;
    }
  }

  .tagContainer {
    width: 100%;
    display: flex;
  }

  .young {
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 1rem;
    background-color: blue;
    color: white;
    font-weight: 500;
  }

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
  }

  .description {
    font-weight: 500;
    margin: 0.5rem 0;
  }

  .price {
    width: 100%;
    font-weight: bolder;
  }
}
