@import '../../../styles/variables.scss';

.NavTopContainer {
  height: 32px;
  width: 100vw;
  overflow: hidden;

  .carousel {
    background: none;
    // @include flex(flex-start, null);
    width: 100%;
    height: 100%;
    position: relative;

    .leftCover {
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background-color: white;
      z-index: 100;
    }

    .rightCover {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 100%;
      background-color: white;
      z-index: 100;
    }

    .leftArrow {
      position: absolute;
      right: 0;
      padding: 7px;
    }

    .rightArrow {
      position: absolute;
      left: 0;
      padding: 7px;
    }

    .slider {
      // border: 2px solid red;
      height: 100%;
      width: 500%;
      flex-shrink: 0;
      @include flex(flex-start, null);

      .list {
        flex-basis: 20%;
        flex-shrink: 0;
        flex: 1;
        width: 20%;
        @include flex(center, center);
      }
    }
  }
  .controls {
    @include flex(space-around, center);
    position: absolute;
  }
}
