@import '../../../styles/variables.scss';

.NavTopContainer {
  height: 32px;
  width: 100vw;
  overflow: hidden;

  .carousel {
    @include flex(center, center);
    background: none;
    width: 100vw;
    height: 100%;

    .leftCover {
      @include flex(center, center);
      width: 30vw;
      height: 100%;
      background-color: white;
      z-index: 100;
    }

    .rightCover {
      @include flex(center, center);
      width: 30vw;
      height: 100%;
      background-color: white;
      z-index: 100;
    }

    .leftArrow {
      right: 0;
      padding: 7px;
    }

    .rightArrow {
      left: 0;
      padding: 7px;
    }

    .slider {
      @include flex(center, null);
      overflow: hidden;
      height: 100%;
      width: 40vw;

      .sliderInner {
        @include flex(center, center);
        width: 600vw;

        .list {
          @include flex(center, center);
          width: 40vw;
        }
      }
    }
  }
}
