input {
  margin-bottom: 32px;
  border: 1px solid #646464;
  border-radius: 9px;
  width: 100%;
  height: 48px;
  background-color: #fee3cb;
  outline-style: none;
}

.form-label {
  position: relative;
}

.passsword-form {
  margin-bottom: 15px;
}

.label-font {
  font-size: 14px;
  height: 18px;
  color: gray;
  letter-spacing: 0.03em;
  position: absolute;
  top: -20px;
  background-color: #fee3cb;
}

.login-btn {
  cursor: pointer;
  width: 100%;
  background-color: #007300;
  border: 1px solid;
  color: white;
  padding: 0 23px;
  border-radius: 48px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 43px;
}

.error-message {
  margin-top: -1.5rem;
  height: 17px;
  font-size: 80%;
  color: #c00;
  letter-spacing: 0.03em;
}
