@import '../../../../../../styles/variables.scss';

.categories {
  @include flex(space-between, null);

  .categoryImg {
    width: 13rem;
    margin: 10px 40px 0 0;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 20px;
  }
}
