@import '../../../../../../styles/variables.scss';

.Categories {
  @include flex(space-between, null);

  .categoryImg {
    width: 13rem;
    margin-right: 40px;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 20px;
  }
}
