@import '../../styles/variables.scss';
@mixin font {
  color: #b60060;
  font-weight: 700;
}

.detailPage {
  @include flex(center, center);
  flex-direction: column;
  border: 2px dotted black;
  padding: 170px 80px;
  background-color: #ffc3d4;

  .container {
    // border: 2px solid pink;
    width: 75vw;

    .productNavigation {
      @include flex(flex-start, center);
      margin: 0 0 50px;
      .link {
        text-decoration: none;
        color: black;
        margin: 0 10px;

        .bold {
          font-weight: 600;
        }
      }
    }

    .middleContainer {
      @include flex(space-between, flex-start);
      flex-direction: row;

      .leftSide {
        @include flex(center, center);
        // border: 2px solid red;
        width: 45vw;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 1rem;

        .productPicWrapper {
          // border: 2px solid blue;
          margin: 60px;
          width: 430px;
          height: 430px;
        }

        .pic {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .productDetail {
        @include flex(space-evenly, flex-start);
        flex-direction: column;
        // border: 2px solid blue;
        width: 30vw;
        margin-left: 40px;

        .status {
          background-color: #0063ff;
          padding: 6px;
          border-radius: 24px;
          color: white;
          font-size: 0.7rem;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
          height: 24px;
          min-width: 39px;
          letter-spacing: 0.03em;
        }

        .title {
          padding: 20px 0;
          border-bottom: 0;
          font-size: 30px;
          @include font;
        }

        .price {
          font-size: 23px;
          font-weight: bolder;
          margin-bottom: 3.9rem;
          @include font;
        }

        .option {
          margin: 10px 0;
          font-weight: 700;
          font-size: 20px;
        }

        .colourOption {
          @include flex(center, flex-start);
          flex-direction: row;
          height: 100px;
        }

        .addToBag {
          background-color: #8e8e8e;
          color: white;
          border-style: none;
          width: 100%;
          height: 3rem;
          border-radius: 20rem;
          margin-top: 3rem;
          cursor: pointer;
          font-weight: 700;
        }
      }
    }

    .productDesc {
      // margin-top: 1rem;

      .font {
        @include font;
        font-size: 2rem;
        margin: 1.5rem 0;
      }
      .subFont {
        color: black;
        font-size: 1.4rem;
        margin: 1rem 0;
        line-height: 2rem;
      }
    }
  }
}
