@import '/src/styles/variables.scss';

.navCart {
  @include flex(center, center);
  flex-direction: column;
  position: absolute;
  top: 43px;
  right: 10px;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 5px 10px 3px rgba(125, 125, 125, 0.3);

  .cartSummary {
    @include flex(center, center);
    flex-direction: column;
    width: 80%;

    .cartSummaryHeader {
      @include flex(flex-start, center);
      margin: 20px 0;
      padding-left: 30px;
      width: 100%;
      color: black;
      font-size: 20px;
      font-weight: 600;
    }

    .cartSummaryProducts {
      @include flex(flex-start, center);
      flex-direction: column;
      height: 240px;
      width: 100%;
      border-bottom: 1px solid rgb(177, 177, 177);
      overflow-y: scroll;
    }
  }
  .cartResult {
    @include flex(space-between, center);
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    height: 60px;

    .cartResultTextContainer {
      @include flex(space-between, center);
      width: 100%;

      .cartResultText {
        color: black;
        font-size: 16px;
        font-weight: bolder;
      }

      .cartResultPrice {
        color: black;
        font-size: 16px;
        font-weight: bolder;
      }
    }

    .cartResultSubmit {
      padding: 8px;
      width: 360px;
      background-color: #1818a1;
      border: none;
      border-radius: 18px;
      color: white;
      font-size: 16px;
      font-weight: bolder;
    }
  }
}
