@import '../../../styles/variables.scss';

.bestSeller {
  @include flex(center, center);
  flex-direction: column;
  font-size: 3rem;
  font-weight: bold;
  overflow: hidden;
  width: 92rem;

  .header {
    @include flex(space-around, center);
    width: 100%;
    margin: 3rem;

    .linkButton {
      border-style: none;
      border-radius: 2rem;
      padding: 1rem 1.5rem;
      color: white;
      background-color: #5f0081;
      font-size: 1rem;
    }
  }

  .slide {
    @include flex(center, center);
    position: relative;
    transition: all 1s;
    // :after,
    // :before {
    //   transition: background-color 0.2s ease-out, color 0.2s ease-out;
    // }
  }
}
