@import '../../../styles/variables.scss';

.bestSeller {
  @include flex(center, center);
  flex-direction: column;
  width: 92rem;
  overflow: hidden;
  font-size: 3rem;
  font-weight: bold;

  .header {
    @include flex(space-around, center);
    width: 100%;
    margin: 3rem;

    .linkButton {
      padding: 1rem 1.5rem;
      border-style: none;
      border-radius: 2rem;
      color: white;
      background-color: #5f0081;
      font-size: 1rem;
    }
  }

  .slide {
    @include flex(center, center);
    position: relative;
  }
}
