@import '../../styles/variables.scss';
.Nav {
  z-index: 1000;
  @include colors();

  .navBottomContainer {
    height: 65px;
    width: 100vw;
    @include flex(space-between, center);
    padding: 1px 50px 1px 50px;
    color: white;
    font-size: 35px;
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    position: fixed;

    .navIcon {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }

    .menu {
      padding: 20px;
    }

    .navIcon:hover {
      transform: scale(1.2, 1.2);
    }

    .iconLeftSide {
      @include flex(space-between, null);
      width: 70px;
    }

    .logo {
      height: 200px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
